body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(238, 235, 235);
}

header,
footer {
  background-color: mediumseagreen;
}

.contenedor {
  padding: 20px;
}

.certificado {
  border: 5px solid black;
}

.enlaces {
  color: black;
  display: flex;
  justify-content: space-around;
}

#enlace:hover {
  color: black;
  font-size: 120%;
}
