.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-h1{
  display: grid;
  align-items: center;
}

.header-items ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-items ul li{
  list-style: none;
  align-items: center;
}


main{
 max-width: 100%; 
}

.main-certificaciones{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

